@model Patient
@{
    ViewData["Title"] = "Patient";
}

<h2>Patient</h2>
<div>
    <!--имя, фамилия, отчество-->
    @Model.Name
    @Model.Surname
    @Model.Patronymic
</div>
<div>
    <!--вес, рост, дата рождения-->
    @Model.Weight
    @Model.Height
    @Model.DateOfBirthDay
    @using (Html.BeginForm("PatientMeasurement", "Home", FormMethod.Post))
    {
        @Html.Hidden("PatientMeasurement", Model.Id)
        <input class="btn btn-info" type="submit" value="Просмотреть измерения пациента" />
    }
</div>
@using (Html.BeginForm())
{
    <textarea cols="50" id="text" name="text" rows="5">
    </textarea>
    <input class="btn btn-info" type="submit" value="Отправить комментарий" />
}


