@model Patient
@{
    ViewData["Title"] = "Patient";
}


<div class="head-content">
    <div class="patient-title">@Model.Name </div>
    <div class="patient-title">@Model.Surname</div>
    <div class="patient-title">@Model.Patronymic</div>
    <!--имя, фамилия, отчество-->

    <!--вес, рост, дата рождения-->
    <div class="patient-title"> Вес: @Model.Weight</div>
    <div class="patient-title"> Рост: @Model.Height</div>
    <div class="patient-title"> Дата рождения: @Model.DateOfBirthDay</div>

</div>

@using (Html.BeginForm("PatientMeasurement", "Home", FormMethod.Post))
{
    @Html.HiddenFor(m => m.Id)
    <input class="button-two" type="submit" value="Просмотреть измерения пациента" />
}