@model IEnumerable<MIATZ.Models.Measurement>

@{
    ViewData["Title"] = "ViewPatientMeasurements";
}

<h2>ViewPatientMeasurements</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TopPressure)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BottomPressure)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TopPressure)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BottomPressure)
            </td>
            <td>
                @using (Html.BeginForm())
                {
                    @Html.HiddenFor(m => item.Id)
                    <textarea cols="20" id="text" name="text" rows="2"></textarea>
                    <input class="button-three" style="padding:5px;" type="submit" value="Оставить рекомандацию" />
                }
            </td>
        </tr>
}
    </tbody>
</table>
