@model IEnumerable<MIATZ.Models.Measurement>

@{
    ViewData["Title"] = "ViewPatientMeasurements";
}

<h2>ViewPatientMeasurements</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TopPressure)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BottomPressure)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TopPressure)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BottomPressure)
            </td>
        </tr>
}
    </tbody>
</table>
